.input-group {
    display: flex;
    border-radius: 10px;
    background: #09080d;
    border: 2px solid transparent;
    align-items: center;
    flex-wrap: nowrap !important;
}

.input-group .input-text, .input-group input {
    margin: 10px;
    text-transform: uppercase;
    outline: none !important;
    background: #09080d;
    border: none;
    color: white;
    font-family: "Inter";
    font-weight: 700;
    font-size: 16px;
    line-height: 152%;
}

.input-group .input-d {
    border-left: 2px solid #12172f;
    display: flex;
    align-items: center;
}

.input-group .input-icon-pen {
    margin-left: 10px;
}

.input-group .input-icon {
    display: block;
    width: 24px;
    height: 24px;
}

input {
    width: 60px;
}